Pipfile
Pipfile.lock
twitchGreetingBot.spec
.vscode/launch.json
.vscode/settings.json
__pycache__/config.cpython-38.pyc
__pycache__/config_greeting.cpython-38.pyc
__pycache__/param_obsCommands.cpython-38.pyc
__pycache__/twitchGreeting.cpython-38.pyc
__pycache__/twitchGreetingBot.cpython-38.pyc
build/twitchGreeting/Analysis-00.toc
build/twitchGreeting/base_library.zip
build/twitchGreeting/EXE-00.toc
build/twitchGreeting/PKG-00.pkg
build/twitchGreeting/PKG-00.toc
build/twitchGreeting/PYZ-00.pyz
build/twitchGreeting/PYZ-00.toc
build/twitchGreeting/twitchGreeting.exe.manifest
build/twitchGreeting/warn-twitchGreeting.txt
build/twitchGreeting/xref-twitchGreeting.html
build/twitchGreetingBot/Analysis-00.toc
build/twitchGreetingBot/base_library.zip
build/twitchGreetingBot/EXE-00.toc
build/twitchGreetingBot/PKG-00.pkg
build/twitchGreetingBot/PKG-00.toc
build/twitchGreetingBot/PYZ-00.pyz
build/twitchGreetingBot/PYZ-00.toc
build/twitchGreetingBot/twitchGreetingBot.exe.manifest
build/twitchGreetingBot/warn-twitchGreetingBot.txt
build/twitchGreetingBot/xref-twitchGreetingBot.html
dist/config.py
dist/sound/metal03.wav
dist/sound/metal25_a.wav
dist/sound/on10.wav
dist/sound/tm2_chime002.wav
dist/sound/tm2_quiz000good.wav
sound/metal03.wav
sound/metal25_a.wav
sound/on10.wav
sound/tm2_chime002.wav
sound/tm2_quiz000good.wav
GreetingBot.spec
__pycache__/GreetingBot.cpython-38.pyc
build/GreetingBot/Analysis-00.toc
build/GreetingBot/base_library.zip
build/GreetingBot/EXE-00.toc
build/GreetingBot/GreetingBot.exe.manifest
build/GreetingBot/PKG-00.pkg
build/GreetingBot/PKG-00.toc
build/GreetingBot/PYZ-00.pyz
build/GreetingBot/PYZ-00.toc
build/GreetingBot/warn-GreetingBot.txt
build/GreetingBot/xref-GreetingBot.html
__pycache__/param_greetingBot.cpython-38.pyc
sound/tm2_power001.wav
data/userExpList.csv
2022-06-16_224503.png
commentLog.csv
追加アイデア.md
雑多資料/方法1.jpg
雑多資料/方法2-1.jpg
雑多資料/方法2-2.jpg
